<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
          <ul class="nav navbar-nav">
              <li><a href="/libros">Libros</a></li>
          </ul>
        </div>

    </div>
</nav>
